<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <title>{{seo.title}}</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{scripts.head_tracking_script}}
    <style>
    {{head_styles}}
    </style>
  </head>
  <body style="{% for style in editable_styles.body.css %}{{style[0]}}:{{style[1]}};{% endfor %}">
    <div id="black-header"></div>
    <div class="container">
      <div class="col-md-8 video">
        <h1 class="visible-xs" id="main_text" >{{ editable_elements.main_text.text }}</h1>
        <div id="cuadrado-div">
          <div id="video_player" class="video-player">
            {{editable_elements.video_player.html}}
          </div>
        <h2 class="hidden-xs" id="play_video" >{{ editable_elements.play_video.text }}</h2>
        </div>
      </div>
      <div class="col-md-4 formulario">
        <img src="{% image_url 'arrows_03.png' %}">
        <h1 class="hidden-xs" id="titulo_principal" >{{ editable_elements.titulo_principal.text }}</h1>
        <p class="visible-xs text-center" id="ingresa_tus_datos" >{{ editable_elements.ingresa_tus_datos.text }}</p>
        <form method="post">
          <input id="input_name" class="text-inputs" type="text" name="name" placeholder="{{editable_elements.input_name.placeholder}}">
          <input id="input_mail" class="text-inputs" type="text" name="email" placeholder="{{editable_elements.input_mail.placeholder}}">
          <div id="send-now"><input id="input_boton_enviar" type="submit" value="{{editable_elements.input_boton_enviar.value}}"></div>
        </form>
      </div>
    </div>
    <div id="people">
      <div class="container">
        <div class="row" style="display:none;">
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_03.png' %}"></div>
            <div class="col-md-7">
            <h3>Raúl Luna</h3>
            <p>De bancarrota a libertad 
financiera en 10 meses.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_05.png' %}"></div>
            <div class="col-md-7">
            <h3>Esther Hernández</h3>
            <p>Mi ingreso anual se convirtió 
en mi ingreso mensual.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="col-md-5"><img src="{% image_url 'people_07.png' %}"></div>
            <div class="col-md-7">
            <h3>José Ardón</h3>
            <p>Solo estudié hasta 4to 
grado de primaria, aun así, 
me convertí en millonario.</p>
            </div>
          </div>
      </div>
    </div>
    <script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
    {{scripts.bottom_tracking_script}}
  </body>
</html>