<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{seo.description}}">
    <meta name="keywords" content="{{seo.keywords}}">
    <title>{{seo.title}}</title>
    <link rel="stylesheet" href="{% stylesheet_url 'bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% stylesheet_url 'style.css' %}"/>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="main">
      <header>
        <img src="{% image_url 'urgente.png' %}">
        <h1 id="main_text" style="{% for style in editable_elements.main_text.css %}{{style[0]}}:{{style[1]}};{% endfor %}">{{ editable_elements.main_text.text }}</h1>  
      </header>
      <div id="video-header"><h2 id="secondary_text" style="{% for style in editable_elements.secondary_text.css %}{{style[0]}}:{{style[1]}};{% endfor %}">{{editable_elements.secondary_text.text}}</h2></div>
      <div id="video-box">
        <iframe src="//player.vimeo.com/video/77013565" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <h3 id="pregunta_direccion_envio" style="{% for style in editable_elements.pregunta_direccion_envio.css %}{{style[0]}}:{{style[1]}};{% endfor %}">{{editable_elements.pregunta_direccion_envio.text}}</h3>
        <form method="post">
          <input id="input_name" class="text-inputs" type="text" name="name" placeholder="{{editable_elements.input_name.placeholder}}">
          <input id="input_mail" class="text-inputs" type="text" name="email" placeholder="{{editable_elements.input_mail.placeholder}}">
          <div id="send-now"><input id="input_boton_enviar" type="submit" value="{{editable_elements.input_boton_enviar.value}}"></div>
        </form>
      </div>
      <footer>
        <h4>&copy; 2014</h4>
      </footer>
    </div>
  </body>
</html>